<div class="row">
    <div class="col-md-8">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">{{ project.title }}</h3>
            </div>
            <div class="box-body">
                <markdown [data]="project.longDescription"></markdown>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title" i18n="@@projectInformationsTitle">Informations</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt i18n="@@projectLeader">Project Leader</dt>
                    <dd>{{ project.leader.firstname }} {{ project.leader.lastname }}</dd>
                    <dt i18n="@@createdAt">Created At</dt>
                    <dd>{{ project.createdAt | date:'medium' }}</dd>
                    <dt i18n="@@projectStatus">Status</dt>
                    <dd>
                        <span *ngIf="project.status == 'IN_PROGRESS'" class="badge bg-yellow" i18n="@@projectStatusInProgress">In Progress</span>
                        <span *ngIf="project.status == 'AVORTED'" class="badge bg-grey" i18n="@@projectStatusAvorted">Avorted</span>
                        <span *ngIf="project.status == 'READY'" class="badge bg-green" i18n="@@projectStatusReady">Ready</span>
                    </dd>
                    <dt i18n="@@projectFundingDeadlineProgress" *ngIf="project.status == 'IN_PROGRESS'">Remaining days</dt>
                    <dd *ngIf="project.status == 'IN_PROGRESS'">{{ project.remainingDays }}</dd>
                    <dt i18n="@@projectPeopleNeededProgress">People needed</dt>
                    <dd>{{ 1 + project.peopleGivingTime.length }} / {{ 1 + project.peopleRequired }}</dd>
                    <dt i18n="@@projectMoneyNeededProgress">Budget</dt>
                    <dd>{{ project.totalDonations.toFixed(2) }} € / {{ project.donationsRequired.toFixed(2) }} €</dd>
                </dl>
            </div>
            <div class="box-footer text-center">
                <a class="btn btn-app btn-money" routerLink="/projects/{{ id }}/edit" *ngIf="project.leader.id === userLoggedIn.id">
                    <i class="fa fa-pencil-square-o"></i><span i18n="@@projectEditAppButton">Edit</span>
                </a>
                <a class="btn btn-app btn-money" (click)="join()" *ngIf="isUserInTeam === false && project.leader.id !== userLoggedIn.id && project.status == 'IN_PROGRESS'">
                    <i class="fa fa-pencil"></i><span i18n="@@projectJoinTeamAppButton">Join the team</span>
                </a>
                <a class="btn btn-app btn-team" (click)="join()" *ngIf="isUserInTeam === true && project.leader.id !== userLoggedIn.id && project.status == 'IN_PROGRESS'">
                    <i class="fa fa-close"></i><span i18n="@@projectLeaveTeamAppButton">Leave the team</span>
                </a>
                <a class="btn btn-app btn-money" (click)="openModal(template)" *ngIf="budgets.length > 0 && project.status == 'IN_PROGRESS'">
                    <i class="fa fa-money"></i><span i18n="@@projectContributeFinanciallyAppButton">Contribute
                        financially</span>
                </a>
                <ng-template #template>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left" i18n="@@projectContributeFinanciallyAppButton">Contribute financially
                        </h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="donationForm">
                            <div class="form-group">
                                <label for="amount" i18n="@@budgetName">Budget</label>
                                <select class="form-control select2 select-border" style="width: 100%;" formControlName="budget">
                                    <option *ngFor="let budget of budgets; index as i" value="{{ i }}">
                                        {{ budget.organization.name }} - {{ budget.name }}</option>
                                </select>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.amount.errors }">
                                <label for="amount" i18n="@@donationAmount">Amount (in €)</label>
                                <input type="number" formControlName="amount" class="form-control" id="amount" min="0.00" step="0.01" max="{{ (min(budgets[f.budget.value].amountPerMember - budgets[f.budget.value].totalUserDonations, project.donationsRequired - project.totalDonations)).toFixed(2) }}">
                            </div>
                            <div>
                                <span i18n="@@budgetRemainingBegin">You will have </span>
                                <b>{{ (budgets[f.budget.value].amountPerMember - budgets[f.budget.value].totalUserDonations - f.amount.value).toFixed(2) }} €</b>
                                <span i18n="@@budgetRemainingEnd"> left to finance other projects.</span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default btn-flat btn-border" (click)="onSubmitDonation()" i18n="@@donationSubmit">Submit</button>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title" i18n="@@donationsPanelTitle">Donations</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <tbody>
                        <tr>
                            <th i18n="@@donationContributor">Contributor</th>
                            <th i18n="@@donationDate">Date</th>
                            <th i18n="@@donationAmount" width="22%">Amount</th>
                        </tr>
                        <tr *ngFor="let donation of pagedItems">
                            <td>{{ donation.contributor.firstname }} {{ donation.contributor.lastname }}</td>
                            <td>{{ donation.createdAt | date:'medium' }}</td>
                            <td class="text-right">{{ donation.amount.toFixed(2) }} €</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-5 dataTables_info_container">
                        <div *ngIf="pager.pages && pager.pages.length" class="dataTables_info" role="status" aria-live="polite"><span i18n="@@paginationStart">Showing
                            </span>{{ pager.startIndex + 1 }}<span i18n="@@paginationEnd"> to
                            </span>{{ pager.endIndex + 1 }}<span i18n="@@paginationTotal"> of
                            </span>{{ pager.totalItems }}<span i18n="@@paginationEntries"> entries</span></div>
                    </div>
                    <div class="col-md-7">
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm no-margin pull-right">
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="refreshDonations(1)">&#171;</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="refreshDonations(pager.currentPage - 1)">&#8249;</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="refreshDonations(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="refreshDonations(pager.currentPage + 1)">&#8250;</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="refreshDonations(pager.totalPages)">&#187;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title" i18n="@@projectTeamBoxTitle">Team</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    <li>
                        <img [src]="project.leader.avatarUrl || project.leader.getDefaultAvatarUrl()" alt="User Image" style="height: 90px;">
                        <a class="users-list-name">{{ project.leader.firstname }}
                            {{ project.leader.lastname }}</a>
                    </li>
                    <li *ngFor="let user of project.peopleGivingTime">
                        <img [src]="user.avatarUrl || user.getDefaultAvatarUrl()" alt="User Image" style="height: 90px;">
                        <a class="users-list-name">{{ user.firstname }} {{ user.lastname }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>