<div class="row">
    <div class="col-md-8">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Project description</h3>
            </div>
            <div class="box-body">
                <markdown [data]="project.longDescription"></markdown>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Informations</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Created By</dt>
                    <dd>{{ project.leader.firstname }} {{ project.leader.lastname }}</dd>
                    <dt>Created At</dt>
                    <dd>{{ project.createdAt | date:medium }}</dd>
                    <dt>Remaining days</dt>
                    <dd>{{ project.remainingDays }}</dd>
                </dl>
            </div>
            <div class="box-footer text-center">
                <a class="btn btn-app btn-money" (click)="join()"
                    *ngIf="isUserInTeam === false && project.leader.id !== userLoggedIn.id">
                    <i class="fa fa-pencil"></i> Join the team
                </a>
                <a class="btn btn-app btn-team" (click)="join()"
                    *ngIf="isUserInTeam === true && project.leader.id !== userLoggedIn.id">
                    <i class="fa fa-close"></i> Leave the team
                </a>
                <a class="btn btn-app btn-money" (click)="openModal(template)">
                    <i class="fa fa-money"></i> Contribute financially
                </a>
                <ng-template #template>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Modal</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This is a modal.
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Donations</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let donation of project.donation">
                                <td>{{ donation.createdAt | date:medium }}</td>
                                <td>{{ donation.amount }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Team</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    <li>
                        <img [src]="project.leader.avatarUrl" alt="User Image">
                        <a class="users-list-name" href="#">{{ project.leader.firstname }}
                            {{ project.leader.lastname }}</a>
                    </li>
                    <li *ngFor="let user of project.peopleGivingTime">
                        <img [src]="user.avatarUrl" alt="User Image">
                        <a class="users-list-name" href="#">{{ user.firstname }} {{ user.lastname }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>