<div class="row">
    <div class="col-md-8">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Project description</h3>
            </div>
            <div class="box-body">
                <markdown [data]="project.longDescription"></markdown>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Informations</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Project Leader</dt>
                    <dd>{{ project.leader.firstname }} {{ project.leader.lastname }}</dd>
                    <dt>Created At</dt>
                    <dd>{{ project.createdAt | date:'medium' }}</dd>
                    <dt>Status</dt>
                    <dd>{{ project.status }}</dd>
                    <dt>Remaining days</dt>
                    <dd>{{ project.remainingDays }}</dd>
                    <dt>People needed</dt>
                    <dd>{{ project.peopleGivingTime.length }} / {{ project.peopleRequired }}</dd>
                    <dt>Budget</dt>
                    <dd>{{ project.totalDonations }} € / {{ project.donationsRequired }} €</dd>
                </dl>
            </div>
            <div class="box-footer text-center">
                <a class="btn btn-app btn-money" routerLink="/projects/{{ id }}/edit" *ngIf="project.leader.id === userLoggedIn.id">
                    <i class="fa fa-pencil-square-o"></i> Edit
                </a>
                <a class="btn btn-app btn-money" (click)="join()" *ngIf="isUserInTeam === false && project.leader.id !== userLoggedIn.id && project.status == 'IN_PROGRESS'">
                    <i class="fa fa-pencil"></i> Join the team
                </a>
                <a class="btn btn-app btn-team" (click)="join()" *ngIf="isUserInTeam === true && project.leader.id !== userLoggedIn.id && project.status == 'IN_PROGRESS'">
                    <i class="fa fa-close"></i> Leave the team
                </a>
                <a class="btn btn-app btn-money" (click)="openModal(template)" *ngIf="budgets.length > 0 && project.status == 'IN_PROGRESS'">
                    <i class="fa fa-money"></i> Contribute financially
                </a>
                <ng-template #template>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Modal</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="donationForm">
                            <div class="form-group">
                                <label for="amount">Budget</label>
                                <select class="form-control select2" style="width: 100%;" formControlName="budget">
                                    <option *ngFor="let budget of budgets; index as i" value="{{ i }}">{{ budget.organization.name }} - {{ budget.name }}</option>
                                </select>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.amount.errors }">
                                <label for="amount">Amount (in €)</label>
                                <input type="number" formControlName="amount" class="form-control" id="amount" min="0.00" step="0.01" max="{{ min(budgets[f.budget.value].amountPerMember - budgets[f.budget.value].totalUserDonations, project.donationsRequired - project.totalDonations) }}">
                            </div>
                            <div>
                                It will remains <b>{{ budgets[f.budget.value].amountPerMember - budgets[f.budget.value].totalUserDonations - f.amount.value }} €</b> on your pot for this budget afterwards.
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary btn-flat" (click)="onSubmitDonation()">Submit</button>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Donations</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                        <tr *ngFor="let donation of pagedItems">
                            <td>{{ donation.createdAt | date:'medium' }}</td>
                            <td>{{ donation.amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-5 dataTables_info_container">
                        <div class="dataTables_info" role="status" aria-live="polite">Showing {{ pager.startIndex + 1 }} to {{ pager.endIndex + 1 }} of {{ pager.totalItems }} entries</div>
                    </div>
                    <div class="col-md-7">
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm no-margin pull-right">
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="refreshDonations(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === 1}">
                                <a (click)="refreshDonations(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                <a (click)="refreshDonations(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="refreshDonations(pager.currentPage + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a (click)="refreshDonations(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Team</h3>
            </div>
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                    <li>
                        <img [src]="project.leader.avatarUrl" alt="User Image">
                        <a class="users-list-name">{{ project.leader.firstname }}
                            {{ project.leader.lastname }}</a>
                    </li>
                    <li *ngFor="let user of project.peopleGivingTime">
                        <img [src]="user.avatarUrl || user.getDefaultAvatarUrl()" alt="User Image">
                        <a class="users-list-name">{{ user.firstname }} {{ user.lastname }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>