<div class="wrapper">
    <app-navbar></app-navbar>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header" i18n="@@projectsMenu">PROJECTS
                </li>
                <li>
                    <a routerLink="/projects/new">
                        <i class="fa fa-paper-plane-o"></i> <span i18n="@@projectsSubmitMenu">Submit my
                            project</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/projects">
                        <i class="fa fa-book"></i> <span i18n="@@projectsDiscoverMenu">Discover
                            projects</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/report">
                        <i class="fa fa-dashboard"></i> <span i18n="@@reportingMenu">Reporting</span>
                    </a>
                </li>
                <li *ngIf="isSponsor" class="header" i18n="@@menu_CategoryName_Sponsoring">
                    SPONSORING</li>
                <li *ngIf="isSponsor">
                    <a routerLink="/budgets">
                        <i class="fa fa-money"></i> <span i18n="@@menuName_Budgets">Budgets</span>
                    </a>
                </li>
                <li *ngIf="isAdmin" class="header" i18n="@@menu_CategoryName_Administration">
                    ADMINISTRATION</li>
                <li *ngIf="isAdmin">
                    <a routerLink="/users">
                        <i class="fa fa-user"></i> <span i18n="@@menuName_Users">Users</span>
                    </a>
                </li>
                <li *ngIf="isAdmin">
                    <a routerLink="/organizations">
                        <i class="fa fa-users"></i> <span i18n="@@menuName_Organizations">Organizations</span>
                    </a>
                </li>
                <li *ngIf="isAdmin">
                    <a routerLink="/manager">
                        <i class="fa fa-cog"></i> <span i18n="@@menuName_Manager">Manager</span>
                    </a>
                </li>
                <li class="header" i18n="@@menu_CategoryName_Documentation">
                    DOCUMENTATION</li>
                <li>
                    <a routerLink="/doc/getting-started">
                        <i class="fa fa-book"></i> <span i18n="Menu Name Getting Started|Menu Name Getting Started@@menuName_GettingStarted">Getting
                            Started</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>

        <!-- Main content -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>
        <!-- /.content -->
        <img id="spider-web" src="assets/images/spider-web.png" alt="Spider Web" />
        <img id="christmas" src="assets/images/christmas-tree.png" alt="Christmas" />
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="row">
            <div class="col-md-4">
                Inspired by <strong><a href="http://valeuriad.fr">Valeuriad</a></strong>. Made with <i class="fa fa-heart"></i> by <strong><a href="https://github.com/thomah/">Thomah</a></strong> and
                <strong>the Open Source Community</strong>.
            </div>
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-4 text-right">
                <b>Version </b><span class="version">0.3.0-SNAPSHOT</span>
                <a href="https://www.youtube.com/watch?v=J_LJxT1BPm0"><img src="assets/images/hourglass.png" alt="Hourglass" /></a>
            </div>
        </div>
    </footer>

</div>