<div class="wrapper">
    <app-navbar></app-navbar>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">PROJECTS</li>
                <li>
                    <a routerLink="/projects/new">
                        <i class="fa fa-paper-plane-o"></i> <span>Submit a project</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/projects">
                        <i class="fa fa-book"></i> <span>Discover projects</span>
                    </a>
                </li>
                <li *ngIf="isSponsor" class="header">SPONSORING</li>
                <li *ngIf="isSponsor">
                    <a routerLink="/projects">
                        <i class="fa fa-money"></i> <span>My Budget</span>
                    </a>
                </li>
                <li *ngIf="isAdmin" class="header">ADMINISTRATION</li>
                <li *ngIf="isAdmin">
                    <a routerLink="/users">
                        <i class="fa fa-user"></i> <span>Users</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i> <span>Organizations</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a routerLink="/organizations/new">
                                <i class="fa fa-circle-o"></i> <span>Create</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/organizations">
                                <i class="fa fa-circle-o"></i> <span>Edit</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Valyou
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">List</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.0.1
        </div>
        <strong>Copyright &copy; 2019 <a href="https://github.com/thomah/">Thomah</a>.</strong> All rights reserved.
    </footer>

</div>