<div class="wrapper">
    <app-navbar></app-navbar>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header" i18n="Menu Category Name Projects|Menu Category Name Projects@@menu_CategoryName_Projects">PROJECTS</li>
                <li>
                    <a routerLink="/projects/new">
                        <i class="fa fa-paper-plane-o"></i> <span i18n="Menu Name Submit Project|Menu Name Submit Project@@menuName_SubmitProject">Submit my project</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/projects">
                        <i class="fa fa-book"></i> <span i18n="Menu Name Discover Projects|Menu Name Discover Projects@@menuName_DiscoverProject">Discover projects</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/report">
                        <i class="fa fa-dashboard"></i> <span i18n="Menu Name Reporting|Menu Name Reporting@@menuName_Reporting">Reporting</span>
                    </a>
                </li>
                <li *ngIf="isSponsor" class="header" i18n="Menu Category Name Sponsoring|Menu Category Sponsoring@@menu_CategoryName_Sponsoring">SPONSORING</li>
                <li *ngIf="isSponsor">
                    <a routerLink="/budgets">
                        <i class="fa fa-money"></i> <span i18n="Menu Name Budgets|Menu Name Budgets@@menuName_Budgets">My Budgets</span>
                    </a>
                </li>
                <li *ngIf="isAdmin" class="header" i18n="Menu Category Name Administration|Menu Category Administration@@menu_CategoryName_Administration">ADMINISTRATION</li>
                <li *ngIf="isAdmin">
                    <a routerLink="/users">
                        <i class="fa fa-user"></i> <span i18n="Menu Name Users|Menu Name Users@@menuName_Users">Users</span>
                    </a>
                </li>
                <li *ngIf="isAdmin">
                    <a routerLink="/organizations">
                        <i class="fa fa-users"></i> <span i18n="Menu Name Organizations|Menu Name Organizations@@menuName_Organizations">Organizations</span>
                    </a>
                </li>
                <li class="header" i18n="Menu Category Name Documentation|Menu Category Documentation@@menu_CategoryName_Documentation">DOCUMENTATION</li>
                <li>
                    <a routerLink="/doc/getting-started">
                        <i class="fa fa-book"></i> <span i18n="Menu Name Getting Started|Menu Name Getting Started@@menuName_GettingStarted">Getting Started</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <!--
            <h1>
                Valyou
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">List</li>
            </ol>-->
        </section>

        <!-- Main content -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version </b><span class="version">0.2.1-SNAPSHOT</span>
        </div>
        Inspired by <strong><a href="http://valeuriad.fr">Valeuriad</a></strong>. Made with <i class="fa fa-heart"></i> by <strong><a href="https://github.com/thomah/">Thomah</a></strong> and <strong>the Open Source Community</strong>.
    </footer>

</div>