.users-list > li {
    height: 152px;
}

.users-list > li img {
    width: 90px;
}

:host ::ng-deep img {
    max-width:100%;
    max-height:100%;
}

.hasLeftTheOrganization {
    filter: grayscale(100%) blur(5px);
}

.vote-score {
    display: inline-block;
    font-size: xx-large;
    border: 1px solid black;    
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 50px;
}