.missingBudget {
    color: #007bff;
    font-weight: bold;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: 4;
    transition: none;
}

.hasLeftTheOrganization {
    filter: grayscale(100%) blur(5px);
}

@keyframes clignoter {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}