<div class="row">
    <div class="col-md-9 order-12 order-md-1">
        <div class="card card-default">
            <div class="card-header with-border">
                <h3 class="card-title" i18n="@@about">About</h3>
            </div>
            <div class="card-body">
                <h2 id="credits">1. Crédits</h2>
                <h3 id="credits-valeuriad">1.1. Création du concept</h3>
                <div class="row">
                    <div id="logo-valeuriad" class="col-lg-3">
                        <a href="https://valeuriad.fr">
                            <img src="assets/images/logo-valeuriad.png" alt="Logo Valeuriad" style="max-width: 80%; height: auto; display: block;"/>
                        </a>
                    </div>
                    <div class="col-lg-9">
                        <blockquote>
                            <h4>En 2015, Valeuriad créé le concept des projets cagnottes comme suit :</h4>
                            <p>Sur une année, Valeuriad attribue à ses collaborateurs une cagnotte de 150€ par salarié, dans le but de favoriser la cohésion d'équipe et que chaque collaborateur soit acteur au sein de la société.</p>
                            <p>Grace à cette cagnotte, les collaborateurs peuvent mettre en place, s'ils le souhaitent, des projets personnels qui leurs tiennent à coeur, sans forcément de lien avec l'informatique, dans le but de développer l'esprit d'initiative
                                et l'entente entre collaborateurs.</p>
                            <small>Cette initiative est entièrement facultative.</small>
                        </blockquote>
                    </div>
                </div>

                <h3 id="credits-platform">1.2. Création de la plateforme</h3>
                <p>La plateforme "Les Projets Cagnottes" est née du besoin de collaborer à distance sur les projets cagnottes de Valeuriad. Celle-ci a été créée en open-source afin de propager une nouvelle façon de créer des projets et permettre à ceux qui
                    l'essaye d'améliorer son fonctionnement.</p>
                <p>Elle a été créée par <b><a href="https://github.com/thomah">Thomah</a></b> sur la base des <b><a href="/about#libraries">bibliothèques</a></b> ci-après. Tout le code est disponible sous licence <b><a href="https://opensource.org/license/agpl-v3/">GNU Affero General Public License</a></b> sur <b><a href="https://github.com/les-projets-cagnottes">Github</a></b></p>

                <h2 id="libraries">2. Bibliothèques</h2>
                <p>"Les Projets Cagnottes" utilise les bibliothèques suivantes. Un immense merci à tous leurs développeurs qui les maintiennent.</p>

                <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="core-tab" data-toggle="pill" href="#tabs-core" role="tab" aria-controls="tabs-core" aria-selected="true">core</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="web-tab" data-toggle="pill" href="#tabs-web" role="tab" aria-controls="tabs-web" aria-selected="false">web</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="slack-events-catcher-tab" data-toggle="pill" href="#tabs-slack-events-catcher" role="tab" aria-controls="tabs-slack-events-catcher" aria-selected="false">slack-events-catcher</a>
                    </li>
                </ul>
                <div class="row">
                    <div class="tab-content col-md-12" id="custom-content-below-tabContent">
                        <div class="tab-pane fade show active" id="tabs-core" role="tabpanel" aria-labelledby="core-tab">
                            <dl class="dl-horizontal">
                                <dt>Spring Boot</dt>
                                <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                                <dt>Postgresql</dt>
                                <dd><a href="https://opensource.org/licenses/postgresql">The PostgreSQL Licence</a></dd>
                                <dt>Java JWT</dt>
                                <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                                <dt>Jackson Core</dt>
                                <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                                <dt>Lombok</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>H2</dt>
                                <dd><a href="http://www.h2database.com/html/license.html">Mozilla Public License 2.0 and Eclipse Public License</a></dd>
                            </dl>
                        </div>
                        <div class="tab-pane fade" id="tabs-web" role="tabpanel" aria-labelledby="web-tab">
                            <dl class="dl-horizontal">
                                <dt>Admin LTE</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>Angular</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>Angular Datatables</dt>
                                <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                                <dt>Bootstrap</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>Core JS</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>Datatables.net</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>JQuery</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>JQuery Slimscroll</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a> et <a href="https://opensource.org/licenses/gpl-license">The GPL License</a></dd>
                                <dt>NGX Bootstrap</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>NGX Infinite Scroll</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>NGX Quill</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>Quill</dt>
                                <dd><a href="https://opensource.org/license/bsd-3-clause">BSD 3-Clause "New" or "Revised" License</a></dd>
                                <dt>RXJS</dt>
                                <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                                <dt>Tslib</dt>
                                <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                                <dt>UUID</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>Zone.js</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                            </dl>
                        </div>
                        <div class="tab-pane fade" id="tabs-slack-events-catcher" role="tabpanel" aria-labelledby="slack-events-catcher-tab">
                            <dl class="dl-horizontal">
                                <dt>Slack Bolt for JavaScript</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>Body parser</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>Dotenv</dt>
                                <dd><a href="https://opensource.org/licenses/BSD-2-Clause">BSD 2-Clause "Simplified" License</a></dd>
                                <dt>Express</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>Node Postgres</dt>
                                <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                                <dt>Request</dt>
                                <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-3">
                        <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist">
                        </div>

                    </div>
                    <div class="col-7 col-sm-9">
                        <div class="tab-content" id="tabs-core">
                        </div>
                    </div>
                </div>
                <h2 id="thanks">3. Remerciements spéciaux</h2>
                <dl class="dl-horizontal">
                    <dt>Valeuriad</dt>
                    <dd>Pour laisser toute son indépendance au projet et financer l'hébergement de celui-ci</dd>
                    <dt>Vous</dt>
                    <dd>Pour votre utilisation et vos retours toujours bienveillants</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-3 order-1 order-md-12">
        <div class="card card-default">
            <div class="card-header with-border">
                <h3 class="card-title" i18n="@@summary">Summary</h3>
            </div>
            <div class="card-body">
                <ol>
                    <li>
                        <a href="/about#credits">Credits</a>
                    </li>
                    <ol>
                        <li>
                            <a href="/about#credits-valeuriad">Création du concept par Valeuriad</a>
                        </li>
                        <li>
                            <a href="/about#credits-platform">Création de la plateforme</a>
                        </li>
                    </ol>
                    <li>
                        <a href="/about#libraries">Bibliothèques</a>
                    </li>
                    <li>
                        <a href="/about#thanks">Crédits</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>