<div class="row">
        <div class="col-md-9">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title" i18n="@@about">About</h3>
                </div>
                <div class="box-body">
                    <h2 id="version">1. Version actuelle</h2>
                    <p>Plateforme : <b>0.3.0</b></p>
                    <p>Release : <b>A Release in Time</b></p>
                    <p>Changelog :</p>
                    <ul>
                        <li>Améliorations</li>
                        <ul>
                            <li>Ajout d'un filtre sur l'état des projets dans Discover projects</li>
                            <li>Nouvelle mise en forme de la liste des projets</li>
                            <li>Notification Slack lors de nouveaux projets</li>
                            <li>Notification Slack auprès des nouveaux utilisateurs</li>
                            <li>Activation manuelle de la validation des projets en plus de l'exécution automatique</li>
                            <li>Masquage du bouton de contribution financière quand l'objectif financier du projet est atteint</li>
                            <li>Traduction de libellés</li>
                            <li>Thème "Noël"</li>
                        </ul>
                        <li>Correction de bugs</li>
                        <ul>
                            <li>Masquage du nombre de jours restants quand le projet n'est pas en cours de financement</li>
                        </ul>
                    </ul>

                    <h2 id="credits">2. Credits</h2>
                    <h3 id="credits-valeuriad">2.1. Création du concept par Valeuriad</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <a href="https://valeuriad.fr">
                                <img src="assets/images/logo-valeuriad.png" alt="Logo Valeuriad" width="100%"/>
                            </a>
                        </div>
                        <div class="col-md-9">
                            <p>
                                En 2015, Valeuriad créé le concept des projets cagnottes comme suit :
                            </p>
                            <blockquote>
                                <p>Sur une année, Valeuriad attribue à ses collaborateurs une cagnotte de 150€ par salarié, dans le but de favoriser la cohésion d'équipe et que chaque collaborateur soit acteur au sein de la société.</p>
                                <p>Grace à cette cagnotte, les collaborateurs peuvent mettre en place, s'ils le souhaitent, des projets personnels qui leurs tiennent à coeur, sans forcément de lien avec l'informatique, dans le but de développer l'esprit d'initiative et l'entente entre collaborateurs.</p>
                                <small>Cette initiative est entièrement facultative.</small>
                            </blockquote>
                        </div>
                    </div>
                    
                    <h3 id="credits-platform">2.2. Création de la plateforme</h3>
                    <p>La plateforme "Les Projets Cagnottes" est née du besoin de collaborer à distance sur les projets cagnottes de Valeuriad. Celle-ci a été créée en open-source afin de propager une nouvelle façon de créer des projets et permettre à ceux qui l'essaye d'améliorer son fonctionnement.</p>
                    <p>Elle a été créée par <b><a href="https://github.com/thomah">Thomah</a></b> sur la base des <b><a href="/about#libraries">bibliothèques</a></b> ci-après. Tout le code est disponible sous licence <b><a href="https://opensource.org/licenses/OSL-3.0">Open Software</a></b> sur <b><a href="https://github.com/les-projets-cagnottes">Github</a></b></p>
                    
                    <h2 id="libraries">3. Bibliothèques</h2>
                    <p>"Les Projets Cagnottes" utilise les bibliothèques suivantes. Un immense merci à tous leurs développeurs qui les maintiennent depuis de nombreuses années.</p>
                    <h3 id="libraries-core">3.1 core</h3>
                    <dl class="dl-horizontal">
                        <dt>Spring Boot</dt>
                        <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                        <dt>Postgresql</dt>
                        <dd><a href="https://opensource.org/licenses/postgresql">The PostgreSQL Licence</a></dd>
                        <dt>Java JWT</dt>
                        <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                        <dt>Jackson Core</dt>
                        <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                        <dt>Lombok</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>H2</dt>
                        <dd><a href="http://www.h2database.com/html/license.html">Mozilla Public License 2.0 and Eclipse Public License</a></dd>
                    </dl>
                    <h3 id="libraries-web">3.2 web</h3>
                    <dl class="dl-horizontal">
                        <dt>Admin LTE</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>Angular</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>Angular Datatables</dt>
                        <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                        <dt>Bootstrap</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>Core JS</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>Datatables.net</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>JQuery</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>JQuery Slimscroll</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a> et <a href="https://opensource.org/licenses/gpl-license">The GPL License</a></dd>
                        <dt>NG Select2</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>NGX Bootstrap</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>NGX Markdown</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>RXJS</dt>
                        <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                        <dt>Select2</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>SimpleMDE - Markdown Editor</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>Tslib</dt>
                        <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                        <dt>Zone.js</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                    </dl>
                    <h3 id="libraries-slack-events-catcher">3.3 slack-events-catcher</h3>
                    <dl class="dl-horizontal">
                        <dt>Node Slack SDK</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>Body parser</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>Dotenv</dt>
                        <dd><a href="https://opensource.org/licenses/BSD-2-Clause">BSD 2-Clause "Simplified" License</a></dd>
                        <dt>Express</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>Node Cron</dt>
                        <dd><a href="https://opensource.org/licenses/ISC">ISC License</a></dd>
                        <dt>Node Postgres</dt>
                        <dd><a href="https://opensource.org/licenses/MIT">The MIT License</a></dd>
                        <dt>Request</dt>
                        <dd><a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></dd>
                    </dl>
                    <h2 id="thanks">4. Remerciements spéciaux <i class="fa fa-heart"></i></h2>
                    <dl class="dl-horizontal">
                        <dt>Valeuriad</dt>
                        <dd>Pour laisser toute son indépendance au projet et financer l'hébergement de celui-ci</dd>
                        <dt>Vous</dt>
                        <dd>Pour votre utilisation et vos retours toujours bienveillants</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title" i18n="@@summary">Summary</h3>
                </div>
                <div class="box-body">
                    <ol>
                        <li>
                            <a href="/about#version">Version actuelle</a>
                        </li>
                        <li>
                            <a href="/about#credits">Credits</a>
                        </li>
                        <ol>
                            <li>
                                <a href="/about#credits-valeuriad">Création du concept par Valeuriad</a>
                            </li>
                            <li>
                                <a href="/about#credits-platform">Création de la plateforme</a>
                            </li>
                        </ol>
                        <li>
                            <a href="/about#libraries">Bibliothèques</a>
                        </li>
                        <ol>
                            <li>
                                <a href="/about#libraries-core">core</a>
                            </li>
                            <li>
                                <a href="/about#libraries-web">web</a>
                            </li>
                            <li>
                                <a href="/about#libraries-slack-events-catcher">slack-events-catcher</a>
                            </li>
                        </ol>
                        <li>
                            <a href="/about#thanks">Credits</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>