<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" [src]="user.avatarUrl || user.getDefaultAvatarUrl()" alt="User profile picture">

                <h3 class="profile-username text-center">{{ user.firstname }} {{ user.lastname }}</h3>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">My pots</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="progress-group" *ngFor="let budget of budgets">
                    <span class="progress-text">{{ budget.organization.name }} - {{ budget.name }}</span>
                    <span class="progress-number">{{ budget.amountPerMember - budget.totalDonations }} € / {{ budget.amountPerMember }} €</span>

                    <div class="progress sm" title="{{ budget.remaining }}">
                        <div class="progress-bar progress-bar-aqua" [ngStyle]="{'width': budget.remaining }"></div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#projects" data-toggle="tab" aria-expanded="true">Projects</a></li>
                <li class=""><a href="#contributions" data-toggle="tab" aria-expanded="false">Contributions</a></li>
                <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="projects">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Title</th>
                                <th style="width: 20%">Funding & teamup deadline</th>
                                <th style="width: 20%">People needed</th>
                                <th style="width: 20%">Money needed</th>
                                <th style="width: 40px">Status</th>
                            </tr>
                            <tr *ngFor="let project of projects">
                                <td><a [routerLink]="['/projects/', project.id]">{{ project.title }}</a></td>
                                <td>
                                    <div class="progress progress-xs" data-toggle="tooltip" data-placement="bottom" title="{{ project.fundingDeadlinePercent }}">
                                        <div class="progress-bar progress-bar-red" [ngStyle]="{'width': project.fundingDeadlinePercent }"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="progress progress-xs" data-toggle="tooltip" data-placement="bottom" title="{{ project.peopleRequiredPercent }}">
                                        <div class="progress-bar progress-bar-aqua" [ngStyle]="{'width': project.peopleRequiredPercent }"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="progress progress-xs" data-toggle="tooltip" data-placement="bottom" title="{{ project.donationsRequiredPercent }}">
                                        <div class="progress-bar progress-bar-green" [ngStyle]="{'width': project.donationsRequiredPercent }"></div>
                                    </div>
                                </td>
                                <td>
                                    <span *ngIf="project.status == 'IN_PROGRESS'" class="badge bg-yellow">In Progress</span>
                                    <span *ngIf="project.status == 'AVORTED'" class="badge bg-grey">Avorted</span>
                                    <span *ngIf="project.status == 'READY'" class="badge bg-green">Ready</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="contributions">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Organization</th>
                                <th>Budget</th>
                                <th>Date</th>
                                <th>Project</th>
                                <th>Amount</th>
                                <th>Actions</th>
                            </tr>
                            <tr *ngFor="let donation of donations">
                                <td>{{ budgetsSorted[donation.budget.id].organization.name }}</td>
                                <td>{{ donation.budget.name }}</td>
                                <td>{{ donation.createdAt | date:'medium' }}</td>
                                <td><a [routerLink]="['/projects/', donation.project.id]">{{ donation.project.title }}</a></td>
                                <td>{{ donation.amount }} €</td>
                                <td><button *ngIf="donation.project.status == 'IN_PROGRESS'" type="button" class="btn btn-flat" [ngClass]="{ 'btn-danger': deleteDonationsStatus[donation.id] == 'error' }" (click)="deleteDonations(donation)"><i class="fa fa-trash"></i>
                                    Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="settings">
                    <form class="form-horizontal" [formGroup]="editUserForm">
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <input formControlName="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Password</label>

                            <div class="col-sm-10">
                                <input formControlName="password" type="password" class="form-control" id="inputPassword" placeholder="Password - leave empty to keep it unchanged">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFirstname" class="col-sm-2 control-label">Firstname</label>

                            <div class="col-sm-10">
                                <input formControlName="firstname" type="text" class="form-control" id="inputFirstname" placeholder="Firstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastname" class="col-sm-2 control-label">Lastname</label>

                            <div class="col-sm-10">
                                <input formControlName="lastname" type="text" class="form-control" id="inputLastname" placeholder="Lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAvatarUrl" class="col-sm-2 control-label">Avatar URL</label>

                            <div class="col-sm-10">
                                <input formControlName="avatarUrl" type="url" class="form-control" id="inputAvatarUrl" placeholder="Avatar URL">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" [disabled]="submitting" class="btn btn-primary btn-flat" [ngClass]="{ 'btn-success': submitStatus == 'success', 'btn-danger': submitStatus == 'error' }" (click)="submit()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>