<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle"
                    [src]="user.avatarUrl || user.getDefaultAvatarUrl()" alt="User profile picture">

                <h3 class="profile-username text-center">{{ user.firstname }} {{ user.lastname }}</h3>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" i18n="@@myBudgets">My pots</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="progress-group" *ngFor="let budget of budgets">
                    <span class="progress-text">{{ budget.organization.name }} - {{ budget.name }}</span>
                    <span class="progress-number">{{ budget.amountPerMember - budget.totalDonations }} € /
                        {{ budget.amountPerMember }} €</span>

                    <div class="progress sm" title="{{ budget.remaining }}">
                        <div class="progress-bar progress-bar-aqua" [ngStyle]="{'width': budget.remaining }"></div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#projects" data-toggle="tab" aria-expanded="true"
                        i18n="@@projects">Projects</a></li>
                <li class=""><a href="#contributions" data-toggle="tab" aria-expanded="false"
                        i18n="@@contributions">Contributions</a></li>
                <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false" i18n="@@settings">Settings</a>
                </li>
                <li class=""><a href="#developer" data-toggle="tab" aria-expanded="false" i18n="@@developer">Developper</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane table-responsive active" id="projects">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th i18n="@@projectTitle">Title</th>
                                <th style="width: 20%" i18n="@@projectFundingDeadline">Funding & teamup deadline</th>
                                <th style="width: 20%" i18n="@@projectPeopleNeeded">People needed</th>
                                <th style="width: 20%" i18n="@@projectMoneyNeeded">Money needed</th>
                                <th style="width: 40px" i18n="@@projectStatus">Status</th>
                            </tr>
                            <tr *ngFor="let project of projects">
                                <td><a [routerLink]="['/projects/', project.id]">{{ project.title }}</a></td>
                                <td>
                                    <div class="progress progress-xs" data-toggle="tooltip" data-placement="bottom"
                                        title="{{ project.fundingDeadlinePercent }}">
                                        <div class="progress-bar progress-bar-red"
                                            [ngStyle]="{'width': project.fundingDeadlinePercent }"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="progress progress-xs" data-toggle="tooltip" data-placement="bottom"
                                        title="{{ project.peopleRequiredPercent }}">
                                        <div class="progress-bar progress-bar-aqua"
                                            [ngStyle]="{'width': project.peopleRequiredPercent }"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="progress progress-xs" data-toggle="tooltip" data-placement="bottom"
                                        title="{{ project.donationsRequiredPercent }}">
                                        <div class="progress-bar progress-bar-green"
                                            [ngStyle]="{'width': project.donationsRequiredPercent }"></div>
                                    </div>
                                </td>
                                <td>
                                    <span *ngIf="project.status == 'IN_PROGRESS'" class="badge bg-yellow"
                                        i18n="@@projectStatusInProgress">In Progress</span>
                                    <span *ngIf="project.status == 'AVORTED'" class="badge bg-grey"
                                        i18n="@@projectStatusAvorted">Avorted</span>
                                    <span *ngIf="project.status == 'READY'" class="badge bg-green"
                                        i18n="@@projectStatusReady">Ready</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane table-responsive" id="contributions">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th i18n="@@organization">Organization</th>
                                <th i18n="@@budget">Budget</th>
                                <th i18n="@@donationDate">Date</th>
                                <th i18n="@@project">Project</th>
                                <th i18n="@@donationAmount">Amount</th>
                                <th i18n="@@actions">Actions</th>
                            </tr>
                            <tr *ngFor="let donation of donations">
                                <td>{{ budgetsSorted[donation.budget.id].organization.name }}</td>
                                <td>{{ donation.budget.name }}</td>
                                <td>{{ donation.createdAt | date:'medium' }}</td>
                                <td><a
                                        [routerLink]="['/projects/', donation.project.id]">{{ donation.project.title }}</a>
                                </td>
                                <td>{{ donation.amount }} €</td>
                                <td><button *ngIf="donation.project.status == 'IN_PROGRESS'" type="button"
                                        class="btn btn-default btn-flat btn-border"
                                        [ngClass]="{ 'btn-danger': deleteDonationsStatus[donation.id] == 'error' }"
                                        (click)="deleteDonations(donation)"><i class="fa fa-trash"></i>
                                        <span i18n="@@actionDelete">Delete</span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="settings">
                    <form class="form-horizontal" [formGroup]="editUserForm">
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label" i18n="@@userEmail">Email</label>

                            <div class="col-sm-10">
                                <input formControlName="email" type="email" class="form-control" id="inputEmail"
                                    placeholder="Email" i18n-placeholder="@@userEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label" placeholder="Email"
                                i18n="@@userPassword">Password</label>

                            <div class="col-sm-10">
                                <input formControlName="password" type="password" class="form-control"
                                    id="inputPassword" placeholder="Password - Keep empty to leave it unchanged"
                                    i18n-placeholder="@@userPasswordUpdatePlaceholder">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFirstname" class="col-sm-2 control-label"
                                i18n="@@userFirstname">Firstname</label>

                            <div class="col-sm-10">
                                <input formControlName="firstname" type="text" class="form-control" id="inputFirstname"
                                    placeholder="Firstname" i18n-placeholder="@@userFirstname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastname" class="col-sm-2 control-label" placeholder="Email"
                                i18n="@@userLastname">Lastname</label>

                            <div class="col-sm-10">
                                <input formControlName="lastname" type="text" class="form-control" id="inputLastname"
                                    placeholder="Lastname" i18n-placeholder="@@userLastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAvatarUrl" class="col-sm-2 control-label" i18n="@@userAvatarUrl">Avatar
                                URL</label>

                            <div class="col-sm-10">
                                <input formControlName="avatarUrl" type="url" class="form-control" id="inputAvatarUrl"
                                    placeholder="Avatar URL" i18n-placeholder="@@userAvatarUrl">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" [disabled]="submitting"
                                    class="btn btn-default btn-flat btn-border"
                                    [ngClass]="{ 'btn-success': submitStatus == 'success', 'btn-danger': submitStatus == 'error' }"
                                    (click)="submit()" i18n="@@actionSubmit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="developer">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th i18n="@@id">ID</th>
                                <th i18n="@@actions">Actions</th>
                            </tr>
                            <tr *ngFor="let apiToken of apiTokens">
                                <td>{{ apiToken.id }}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-flat btn-border"
                                        [ngClass]="{ 'btn-danger': deleteApiTokenStatus[apiToken.id] == 'error' }"
                                        (click)="deleteApiToken(apiToken)"><i class="fa fa-trash"></i>
                                        <span i18n="@@actionDelete">Delete</span></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <button type="button" class="btn btn-default btn-flat" (click)="generateApiToken(template)" [ngClass]="{ 'btn-success': generateApiTokenStatus == 'success', 'btn-danger': generateApiTokenStatus == 'error' }">
                                        <i class="fa fa-plus"></i> <span>Generate</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ng-template #template>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Your new API Token</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <code>{{ generatedApiToken.token }}</code>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default btn-flat" (click)="modalRef.hide()" i18n="@@actionsClose">Close</button>
                        </div>
                    </ng-template>

                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</div>