<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editUserModalLabel">{{ editUserModalLabel }}</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="editUserForm">
                    <div class="form-group input-group has-feedback" [ngClass]="{ 'has-error': f.email.errors }">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="email" formControlName="email" class="form-control" placeholder="Email" />
                    </div>
                    <div class="form-group input-group has-feedback" [ngClass]="{ 'has-error': userEdited.id === undefined && f.password.value === '' }">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" formControlName="password" class="form-control" placeholder="Password" />
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-genderless"></i></span>
                        <input type="text" formControlName="firstname" class="form-control" placeholder="Firstname">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-genderless"></i></span>
                        <input type="text" formControlName="lastname" class="form-control" placeholder="Lastname">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-camera"></i></span>
                        <input type="url" formControlName="avatarUrl" class="form-control" placeholder="Avatar Url">
                    </div>
                    <div class="form-group">
                        <label for="color">Color</label>
                        <input type="color" formControlName="color" id="color" class="right-input" placeholder="Color">
                    </div>
                    <div class="form-group">
                        <label for="isActivated">Is activated</label>
                        <input type="checkbox" formControlName="isActivated" id="isActivated" class="right-input" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button [disabled]="submitting" class="btn btn-primary btn-flat" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Users</h3>
            </div>
            <div class="box-body">
                <div class="row action-bar">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-default"
                            [ngClass]="{ 'btn-success': refreshStatus == 'success', 'btn-danger': refreshStatus == 'error' }"
                            (click)="refresh()"><i class="fa fa-refresh"></i>
                            Refresh</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editUserModal"
                            (click)="openModalCreateUser()"><i class="fa fa-plus"></i> Add</button>
                    </div>
                    <div class="col-xs-6">
                        <div class="dataTables_length text-right"><label for="pageSize">Nb entries</label><select id="pageSize"
                                name="pageSize" class="datatable-nb-entries form-control input-sm" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-sm table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Created At</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of pagedItems">
                                    <td>{{user.id}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.createdAt | date:'medium'}}</td>
                                    <td class="action-bar">
                                        <button type="button" class="btn btn-default" data-toggle="modal"
                                            data-target="#editUserModal" (click)="openModalEditUser(user)"><i
                                                class="fa fa-pencil"></i> Edit</button>
                                        <button type="button" class="btn btn-default" (click)="delete(user)"><i
                                                class="fa fa-trash"></i> Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Created At</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 dataTables_info_container">
                        <div class="dataTables_info" role="status" aria-live="polite">Showing {{ pager.startIndex + 1 }} to {{ pager.endIndex + 1 }}
                            of {{ pager.totalItems }} entries</div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers text-right">
                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                <li class="paginate_button" [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="refresh(1)">First</a>
                                </li>
                                <li class="paginate_button" [ngClass]="{disabled:pager.currentPage === 1}">
                                    <a (click)="refresh(pager.currentPage - 1)">Previous</a>
                                </li>
                                <li class="paginate_button" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                                    <a (click)="refresh(page)">{{page}}</a>
                                </li>
                                <li class="paginate_button next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="refresh(pager.currentPage + 1)">Next</a>
                                </li>
                                <li class="paginate_button" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                    <a (click)="refresh(pager.totalPages)">Last</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>