<div class="login-page">

    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Les Projets Cagnottes</b></a>
        </div>
        <!-- /.login-logo -->

        <div class="card">
            <div class="card-body login-card-body">
                <p i18n="@@signInBoxHeader" class="login-box-msg">Sign in to start your session
                </p>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="input-group mb-3">
                        <input type="email" formControlName="email" class="form-control" placeholder="Email" i18n-placeholder="@@userEmail">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" formControlName="password" class="form-control" placeholder="Password" i18n-placeholder="@@userPassword">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button [disabled]="loading" class="btn btn-primary btn-block" i18n="@@loginButton" (click)="onSubmit()">Login</button>
                        </div>
                    </div>
                </form>
                <div class="social-auth-links text-center">
                    <p i18n="@@orSeparator">- OR -</p>
                    <a href="https://slack.com/oauth/authorize?client_id={{ slackClientId }}&scope=identity.basic,identity.email,identity.avatar,identity.team&redirect_uri={{ redirectUrlOAuth }}" class="btn btn-block bg-maroon">
                        <i class="fab fa-slack"></i><span i18n="@@slackLoginButton">Sign in using Slack</span></a>
                </div>
            </div>
            <!-- /.login-box-body -->
        </div>
    </div>
    <!-- /.login-box -->
</div>