<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card">
            <div class="card-body box-profile">

                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" [src]="user.avatarUrl" alt="User profile picture">
                </div>
                <h3 class="profile-username text-center">{{ user.firstname }} {{ user.lastname }}</h3>
                <p class="text-muted text-center">
                    <span i18n>Member since </span>
                    <span>{{ user.createdAt | date:'shortDate' }}</span>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card">
            <div class="card-header with-border">
                <h3 class="card-title" i18n>My accounts</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="project_progress" *ngFor="let account of accounts | keyvalue">
                    <span class="progress-text">{{ getBudget(account.value.budget.id).name }}</span>
                    <div class="progress sm" title="{{ account.value.usage }}">
                        <div class="progress-bar progress-bar-aqua" [ngStyle]="{'width': account.value.usage }"></div>
                    </div>
                    <small>
                        {{ account.value.amount }} € / {{ account.value.initialAmount }} €
                    </small>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <tabset class="card card-outline">
            <tab heading="Projects" id="projects" i18n-heading>
                <table class="table table-striped table-valign-middle">
                    <thead>
                        <tr>
                            <th i18n>Title</th>
                            <th i18n>Short Description</th>
                            <th style="width: 40px" i18n>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of userProjects">
                            <td><a [routerLink]="['/projects/', project.id]">{{ project.title }}</a></td>
                            <td>{{ project.shortDescription }}</td>
                            <td>
                                <span *ngIf="project.status == 'DRAFT'" class="badge bg-gray" i18n>Draft</span>
                                <span *ngIf="project.status == 'IN_PROGRESS'" class="badge bg-yellow" i18n>In Progress</span>
                                <span *ngIf="project.status == 'FINISHED'" class="badge bg-green" i18n>Finished</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="Contributions" id="contributions" i18n-heading>
                <table class="table table-striped table-valign-middle">
                    <thead>
                        <tr>
                            <th i18n>Budget</th>
                            <th i18n>Date</th>
                            <th i18n>Project</th>
                            <th i18n>Amount</th>
                            <th i18n>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let donation of donations | keyvalue">
                            <td>{{ getBudget(getAccount(donation.value.account.id).budget.id).name }}</td>
                            <td>{{ donation.value.createdAt | date:'medium' }}</td>
                            <td><a *ngIf="campaigns.get(donation.value.campaign.id) !== undefined" [routerLink]="['/projects/', getCampaign(donation.value.campaign.id).project.id]">{{ getProject(getCampaign(donation.value.campaign.id).project.id).title }}</a></td>
                            <td>{{ donation.value.amount }} €</td>
                            <td>
                                <a *ngIf="campaigns.get(donation.value.campaign.id) !== undefined && getCampaign(donation.value.campaign.id).status == 'IN_PROGRESS'" class="text-muted item-clickable" [ngClass]="{ 'text-danger': deleteDonationsStatus[donation.value.id] == 'error' }" (click)="deleteDonations(donation.value)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="Settings" id="settings" class="p-3" i18n-heading>
                <form class="form-horizontal" [formGroup]="editUserForm">
                    <div class="form-group">
                        <label for="inputEmail" class="control-label" i18n>Email</label>
                        <input formControlName="email" type="email" class="form-control" id="inputEmail" placeholder="Email" i18n-placeholder>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label" placeholder="Email" i18n>Password</label>
                        <input formControlName="password" type="password" class="form-control" id="inputPassword" placeholder="Password - Keep empty to leave it unchanged" i18n-placeholder>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstname" class="control-label" i18n>Firstname</label>
                        <input formControlName="firstname" type="text" class="form-control" id="inputFirstname" placeholder="Firstname" i18n-placeholder>
                    </div>
                    <div class="form-group">
                        <label for="inputLastname" class="control-label" placeholder="Email" i18n>Lastname</label>
                        <input formControlName="lastname" type="text" class="form-control" id="inputLastname" placeholder="Lastname" i18n-placeholder>
                    </div>
                    <div class="form-group">
                        <label for="inputAvatarUrl" class="control-label" i18n>Avatar URL</label>
                        <input formControlName="avatarUrl" type="url" class="form-control" id="inputAvatarUrl" placeholder="Avatar URL" i18n-placeholder>
                    </div>
                    <button type="submit" [disabled]="submitting" class="btn btn-primary" [ngClass]="{ 'btn-success': submitStatus == 'success', 'btn-danger': submitStatus == 'error' }" (click)="submit()" i18n>Submit</button>
                </form>
            </tab>
            <tab heading="Developper" id="dev" i18n-heading>
                <table class="table table-striped table-valign-middle">
                    <thead>
                        <tr>
                            <th i18n>ID</th>
                            <th i18n>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let apiToken of apiTokens | keyvalue">
                            <td>{{ apiToken.value.id }}</td>
                            <td>
                                <a class="text-muted item-clickable" [ngClass]="{ 'text-danger': deleteApiTokenStatus[apiToken.value.id] == 'error' }" (click)="deleteApiToken(apiToken.value)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="bottom-bar">
                    <button type="button" class="btn btn-primary" (click)="generateApiToken(template)" [ngClass]="{ 'btn-success': generateApiTokenStatus == 'success', 'btn-danger': generateApiTokenStatus == 'error' }">
                        <i class="fa fa-plus"></i> <span i18n>Generate</span>
                    </button>
                </div>
                <ng-template #template>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left" i18n>Your new API Token</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <code id="generatedApiToken">{{ generatedApiToken.token }}</code>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" (click)="modalRef.hide()" i18n>Close</button>
                    </div>
                </ng-template>
            </tab>
        </tabset>
    </div>
    <!-- /.col -->
</div>