/*
 * Skin: Midnight Dark theme
 * ------------
 */


/* CUSTOM ITEMS */

#christmas {
    display: none;
    z-index: -1;
    position: absolute;
    right: 0.5em;
    bottom: 0;
}

#spider-web {
    display: none;
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
}

app-*>div {
    margin-bottom: 5em;
}

.fa {
    margin-right: 0.2em;
}

.action-bar {
    margin-bottom: 15px;
}

.action-bar .btn,
.action-bar label {
    margin-right: 15px;
}

.datatable-nb-entries {
    display: inline-block;
    width: auto;
    margin-left: .5em;
}

.dataTables_info_container {
    line-height: 39px;
}

.pagination {
    margin: 0;
}

.item-clickable {
    cursor: pointer;
}

.skin-default .content-wrapper {
    position: relative;
}

.skin-default .progress {
    border-style: dashed;
    border-width: 0.1em;
}

.skin-default .table>thead>tr>th,
.skin-default .table>tbody>tr>th,
.skin-default .table>tfoot>tr>th,
.skin-default .table>thead>tr>td,
.skin-default .table>tbody>tr>td,
.skin-default .table>tfoot>tr>td,
.skin-default .box-footer {
    border-top-width: 1px;
    border-top-style: solid;
    vertical-align: middle;
}

.skin-default a {
    color: #F8D671;
}

.skin-default .btn-app {
    color: #666;
}

.skin-default .disabled a,
.skin-default .disabled a:hover {
    background-color: rgb(39, 44, 48);
}

.skin-default .modal-content {
    background-color: rgb(39, 44, 48);
}

.skin-default select {
    color: #bec5cb;
}

.skin-default .navbar-nav>.user-menu>.dropdown-menu {
    background-color: rgb(39, 44, 48);
}

.skin-default .form-control {
    color: #bec5cb;
}

.skin-default.login-page {
    background-color: #272c30;
}

.skin-default .login-box-body {
    background-color: #353c42;
}

.skin-default .form-group.has-error input {
    border-color: #dd4b39;
}


/* SELECT2 */

.skin-default .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #222E4D;
}

.skin-default .select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #bec5cb;
    background-color: #222E4D;
}


/* MARKDOWN EDITOR */

.skin-default .CodeMirror {
    background-color: rgb(39, 44, 48);
    color: #e2e2e2;
}

.skin-default .editor-toolbar a {
    color: #F8D671 !important;
}


/* SKIN MIDNIGHT */

.skin-default {
    color: #bec5cb;
}

.skin-default h4 {
    color: #44def1;
}

.skin-default .content-header>.breadcrumb>li>a {
    color: #bec5cb;
}

.skin-default .table>thead>tr>th,
.skin-default .table>tbody>tr>th,
.skin-default .table>tfoot>tr>th,
.skin-default .table>thead>tr>td,
.skin-default .table>tbody>tr>td,
.skin-default .table>tfoot>tr>td {
    color: #bec5cb;
    border-top: 0px;
}

.skin-default .table>thead>tr.odd,
.skin-default .table>tbody>tr.odd,
.skin-default .table>tfoot>tr.odd {
    background-color: #2a2f34;
}

.skin-default .table>thead>tr.odd:hover,
.skin-default .table>tbody>tr.odd:hover,
.skin-default .table>tfoot>tr.odd:hover,
.skin-default .table>thead>tr.even:hover,
.skin-default .table>tbody>tr.even:hover,
.skin-default .table>tfoot>tr.even:hover {
    background-color: #1e2226;
}

.skin-default .table-bordered>thead>tr>th,
.skin-default .table-bordered>tbody>tr>th,
.skin-default .table-bordered>tfoot>tr>th,
.skin-default .table-bordered>thead>tr>td,
.skin-default .table-bordered>tbody>tr>td,
.skin-default .table-bordered>tfoot>tr>td {
    border: 1px solid #353c42;
}

.skin-default .dataTables_wrapper input[type='search'] {
    border-radius: 4px;
    background-color: #353c42;
    border: 0;
    color: #bec5cb;
}

.skin-default .dataTables_paginate .pagination li>a {
    background-color: transparent !important;
    border: 0;
}

.skin-default .wrapper,
.skin-default .main-sidebar,
.skin-default .left-side {
    background-color: #272c30;
}

.skin-default .user-panel>.info,
.skin-default .user-panel>.info>a {
    color: #fff;
}

.skin-default .sidebar-menu>li.header {
    color: #556068;
    background: #1e2225;
}

.skin-default .sidebar-menu>li>a {
    border-left: 3px solid transparent;
}

.skin-default .sidebar-menu>li:hover>a,
.skin-default .sidebar-menu>li.active>a {
    color: #ffffff;
    background: #22272a;
    border-left-color: #272c30;
}

.skin-default .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #32393e;
}

.skin-default .sidebar a {
    color: #bec5cb;
}

.skin-default .sidebar a:hover {
    text-decoration: none;
}

.skin-default .treeview-menu>li>a {
    color: #949fa8;
}

.skin-default .treeview-menu>li.active>a,
.skin-default .treeview-menu>li>a:hover {
    color: #ffffff;
}

.skin-default .sidebar-form {
    border-radius: 3px;
    border: 1px solid #3e464c;
    margin: 10px 10px;
}

.skin-default .sidebar-form input[type="text"],
.skin-default .sidebar-form .btn {
    box-shadow: none;
    background-color: #3e464c;
    border: 1px solid transparent;
    height: 35px;
}

.skin-default .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}

.skin-default .sidebar-form input[type="text"]:focus,
.skin-default .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666;
}

.skin-default .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    border-left-color: #fff;
}

.skin-default .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}

.skin-default .box,
.skin-default .box-footer,
.skin-default .info-box,
.skin-default .box-comment,
.skin-default .comment-text,
.skin-default .comment-text .username {
    color: #bec5cb;
    background-color: #272c30;
}

.skin-default .box-comments .box-comment {
    border-bottom-color: #353c42;
}

.skin-default .box-footer {
    border-top: 1px solid #353c42;
}

.skin-default .box-header.with-border {
    border-bottom: 1px solid #353c42;
}

.skin-default .box-solid,
.skin-default .box {
    border: 1px solid #272c30;
}

.skin-default .box-solid>.box-header,
.skin-default .box>.box-header {
    color: #bec5cb;
    background: #272c30;
    background-color: #272c30;
}

.skin-default .box-solid>.box-header a,
.skin-default .box>.box-header a,
.skin-default .box-solid>.box-header .btn,
.skin-default .box>.box-header .btn {
    color: #bec5cb;
}

.skin-default .box.box-info,
.skin-default .box.box-primary,
.skin-default .box.box-success,
.skin-default .box.box-warning,
.skin-default .box.box-danger {
    border-top-width: 3px;
}

.skin-default .box.box-info {
    border-top-color: #00c0ef;
}

.skin-default .box.box-primary {
    border-top-color: #075383;
}

.skin-default .box.box-success {
    border-top-color: #00a65a;
}

.skin-default .box.box-warning {
    border-top-color: #ff851b;
}

.skin-default .box.box-danger {
    border-top-color: #dd4b39;
}

.skin-default .main-header .navbar {
    background-color: #272c30;
}

.skin-default .main-header .navbar .nav>li>a {
    color: #bec5cb;
}

.skin-default .main-header .navbar .nav>li>a:hover,
.skin-default .main-header .navbar .nav>li>a:active,
.skin-default .main-header .navbar .nav>li>a:focus,
.skin-default .main-header .navbar .nav .open>a,
.skin-default .main-header .navbar .nav .open>a:hover,
.skin-default .main-header .navbar .nav .open>a:focus,
.skin-default .main-header .navbar .nav>.active>a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}

.skin-default .main-header .navbar .sidebar-toggle {
    color: #bec5cb;
}

.skin-default .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}

.skin-default .timeline li .timeline-item {
    color: #bec5cb;
    background-color: #272c30;
    border-color: #353c42;
}

.skin-default .timeline li .timeline-header {
    border-bottom-color: #353c42;
}

.skin-default .nav-stacked>li>a {
    color: #bec5cb;
}

.skin-default .nav-stacked>li>a:hover {
    color: white;
    background-color: #1e2226;
}

.skin-default .content-wrapper,
.skin-default .right-side {
    background-color: #353c42;
}

.skin-default .main-footer,
.skin-default .nav-tabs-custom {
    background-color: #272c30;
    border-top-color: #353c42;
    color: #bec5cb;
}

.skin-default .main-footer .nav-tabs,
.skin-default .nav-tabs-custom .nav-tabs {
    border-bottom-color: #353c42;
}

.skin-default .main-footer .tab-content,
.skin-default .nav-tabs-custom .tab-content {
    background-color: #272c30;
}

.skin-default .nav-tabs-custom>.nav-tabs>li.active>a {
    border-left-color: #353c42;
    border-right-color: #353c42;
}

.skin-default .nav-tabs-custom>.nav-tabs.pull-right>li:first-of-type.active>a {
    border-left-color: #353c42;
}

.skin-default .nav-tabs-custom>.nav-tabs>li {
    color: #bec5cb;
}

.skin-default .nav-tabs-custom>.nav-tabs>li.active>a {
    background-color: #272c30;
}

.skin-default .nav-tabs-custom>.nav-tabs>li>a {
    color: #bec5cb;
}

.skin-default .form-group .input-group-addon,
.skin-default .input-group .input-group-addon,
.skin-default .form-group input,
.skin-default .input-group input,
.skin-default .form-group textarea,
.skin-default .input-group textarea {
    background-color: #353c42;
    color: #bec5cb;
    border: 1px solid #353c42;
}

.skin-default .list-group {
    color: #bec5cb;
    background-color: #272c30;
}

.skin-default .list-group .list-group-item {
    border-color: #353c42;
    background-color: #272c30;
}

.skin-default .input-group .input-group-addon {
    border-right: 1px solid #272c30;
}

.skin-default .form-control {
    border-color: #272c30;
    background-color: #353c42;
}

.skin-default .select2 .select2-selection {
    background-color: #353c42;
    color: #bec5cb;
    border: 1px solid #353c42;
}

.skin-default .select2 .select2-selection .select2-container--default,
.skin-default .select2 .select2-selection .select2-selection--single,
.skin-default .select2 .select2-selection .select2-selection--multiple,
.skin-default .select2 .select2-selection .select2-selection__rendered {
    color: #bec5cb;
}

.skin-default .select2-dropdown {
    background-color: #353c42;
    color: #bec5cb;
    border: 1px solid #353c42;
}

.skin-default .select2-dropdown .select2-search__field {
    background-color: #272c30;
    color: #bec5cb;
    border: 1px solid #353c42;
}

.skin-default .select2-container--default.select2-container--open {
    background-color: #272c30;
}