<div class="row action-bar">
    <div class="col-md-6">
        <div class="form-horizontal">
            <button type="button" class="btn btn-default" [ngClass]="{ 'btn-success': refreshStatus == 'success', 'btn-danger': refreshStatus == 'error' }" (click)="refresh()">
                    <i class="fas fa-sync"></i>
                    <span i18n="@@refresh">Refresh</span>
                </button>
            <label for="statusSelection" i18n="@@projectStatus">Status : </label>
            <ng-select2 id="statusSelection" [data]="statusSelectionData" [width]="300" [(ngModel)]="statusSelectionValue" (valueChanged)="onStatusSelectionChange()" [options]="statusSelectionOptions"></ng-select2>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-right"><label for="pageSize" i18n="@@nbEntries">Nb
                entries</label><select id="pageSize" name="pageSize" class="datatable-nb-entries form-control input-sm" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card item-clickable" *ngFor="let item of pagedItems" routerLink="/campaigns/{{ item.id }}">
            <div class="card-header">
                <h3 class="card-title">{{ item.title }}</h3> - {{ item.shortDescription }}
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1 projectCountdown">
                        <span *ngIf="item.status === 'A_IN_PROGRESS'" class="badge bg-yellow">J -
                            {{ item.remainingDays }}</span>
                        <span *ngIf="item.status === 'C_AVORTED'" class="badge bg-gray" i18n="@@projectStatusAvorted">Avorted</span>
                        <span *ngIf="item.status === 'B_READY'" class="badge bg-green" i18n="@@projectStatusReady">Ready</span>
                    </div>
                    <div class="col-md-5">
                        <div class="project_progress">
                            <span class="progress-text" i18n="@@projectPeopleNeededDetailedLabel">People needed</span>
                            <div class="progress sm" title="{{ item.peopleRequiredPercent }}">
                                <div class="progress-bar progress-bar-aqua" [ngStyle]="{'width': item.peopleRequiredPercent }"></div>
                            </div>
                            <small> {{ item.peopleGivingTimeRef.length }} / {{ item.peopleRequired }} </small>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="project_progress">
                            <span class="progress-text" i18n="@@projectMoneyNeeded">Money needed</span>
                            <div class="progress sm" title="{{ item.donationsRequiredPercent }}">
                                <div class="progress-bar progress-bar-aqua" [ngStyle]="{'width': item.donationsRequiredPercent }"></div>
                            </div>
                            <small> {{ item.totalDonations.toFixed(2) }} € / {{ item.donationsRequired.toFixed(2) }} € </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<div class="row">
    <div class="col-sm-5">
        <div *ngIf="pager.pages && pager.pages.length" class="dataTables_info">
            <span i18n="@@paginationStart">Showing </span>{{ pager.startIndex + 1 }}<span i18n="@@paginationEnd"> to
            </span>{{ pager.endIndex + 1 }}<span i18n="@@paginationTotal"> of </span>{{ pager.totalItems }}<span i18n="@@paginationEntries"> entries</span></div>
    </div>
    <div class="col-sm-7">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-end">
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="refresh(1)">&#171;</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <a class="page-link" (click)="refresh(pager.currentPage - 1)">&#8249;</a>
            </li>
            <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a class="page-link" (click)="refresh(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="refresh(pager.currentPage + 1)">&#8250;</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a class="page-link" (click)="refresh(pager.totalPages)">&#187;</a>
            </li>
        </ul>
    </div>
</div>