<div class="row action-bar">
    <div class="col-md-6">
        <div class="form-horizontal">
            <button type="button" class="btn btn-default"
                [ngClass]="{ 'btn-success': refreshStatus == 'success', 'btn-danger': refreshStatus == 'error' }"
                (click)="refresh()">
                <i class="fas fa-sync"></i>
                <span i18n>Refresh</span>
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-right">
            <label for="newsLength" i18n>Nb entries</label>
            <select id="newsLength" name="newsLength" class="datatable-nb-entries form-control input-sm"
                [(ngModel)]="newsLength" (ngModelChange)="refresh()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
    </div>
</div>
<div class="timeline">
    <div *ngFor="let item of dates">
        <div class="time-label">
            <span class="bg-red">{{ item }}</span>
        </div>
        <div *ngFor="let news of data[item]">
            <i *ngIf="news.type === 'ARTICLE'" class="news-icon fas fa-newspaper bg-blue"></i>
            <div class="timeline-item">
                <span class="time"><i class="fas fa-clock"></i> {{ news.createdAt | date:'medium' }}</span>
                <h3 class="timeline-header">
                    <a href="#">{{ news.createdBy }}</a> 
                    <span i18n *ngIf="news.organization.id > 0"> published the news </span>
                    <span i18n *ngIf="news.organization.id <= 0"> published the system message </span>
                    <b>{{ news.title }}</b> 
                    <span *ngIf="news.project.id > 0" i18n> in the project </span>
                    <b *ngIf="news.project.id > 0">{{ projects[news.project.id].title }}</b>
                </h3>
                <div class="timeline-body" [innerHTML]="news.content"></div>
                <div class="timeline-footer action-bar">
                    <a *ngIf="news.project.id > 0" class="btn btn-primary btn-sm" routerLink="/projects/{{ news.project.id }}">
                        <i class="fas fa-book-reader"></i>
                        <span i18n>View Project</span>
                    </a>
                    <a *ngIf="news.author.id === userLoggedIn.id" class="btn btn-warning btn-sm" routerLink="/news/{{ news.id }}/edit">
                        <i class="fas fa-pen"></i>
                        <span i18n>Edit News</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <i class="news-icon fas fa-clock bg-gray"></i>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div *ngIf="newsPager.pages && newsPager.pages.length" class="dataTables_info">
            <span i18n>Showing </span>
            <span>{{ newsPager.startIndex + 1 }}</span>
            <span i18n> to </span>
            <span>{{ newsPager.endIndex + 1 }}</span>
            <span i18n> of </span>
            <span>{{ newsPager.totalItems }}</span>
            <span i18n> entries</span>
        </div>
    </div>
    <div class="col-sm-7">
        <ul *ngIf="newsPager.pages && newsPager.pages.length" class="pagination justify-content-end">
            <li class="page-item" [ngClass]="{disabled:newsPager.currentPage === 1}">
                <a class="page-link" (click)="refresh(1)">&#171;</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:newsPager.currentPage === 1}">
                <a class="page-link" (click)="refresh(newsPager.currentPage - 1)">&#8249;</a>
            </li>
            <li class="page-item" *ngFor="let page of newsPager.pages"
                [ngClass]="{active:newsPager.currentPage === page}">
                <a class="page-link" (click)="refresh(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:newsPager.currentPage === newsPager.totalPages}">
                <a class="page-link" (click)="refresh(newsPager.currentPage + 1)">&#8250;</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:newsPager.currentPage === newsPager.totalPages}">
                <a class="page-link" (click)="refresh(newsPager.totalPages)">&#187;</a>
            </li>
        </ul>
    </div>
</div>