<div class="row action-bar">
    <div class="col-xs-6">
        <button type="button" class="btn btn-default" [ngClass]="{ 'btn-success': refreshStatus == 'success', 'btn-danger': refreshStatus == 'error' }" (click)="refresh()"><i class="fa fa-refresh"></i>
                                Refresh</button>
    </div>
    <div class="col-xs-6">
        <div class="dataTables_length text-right"><label for="pageSize">Nb entries</label><select id="pageSize" name="pageSize" class="datatable-nb-entries form-control input-sm" [(ngModel)]="pageSize" (ngModelChange)="refresh()">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box item-clickable" *ngFor="let item of pagedItems" routerLink="/projects/{{ item.id }}">
            <div class="box-header with-border">
                <h3 class="box-title">{{ item.title }}</h3> - {{ item.shortDescription }}
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="progress-group">
                            <span class="progress-text">Funding & Team-up Deadline</span>
                            <span class="progress-number"><b>{{ item.fundingDeadline | date:medium }}</b></span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-red" [ngStyle]="{'width': item.fundingDeadlinePercent }"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="progress-group">
                            <span class="progress-text">People needed</span>
                            <span class="progress-number"><b>{{ item.peopleGivingTime.length }}</b> / {{ item.peopleRequired }}</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-aqua" [ngStyle]="{'width': item.peopleRequiredPercent }"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="progress-group">
                            <span class="progress-text">Money needed</span>
                            <span class="progress-number"><b>{{ item.totalDonations }} €</b>/ {{ item.donationsRequired }} €</span>

                            <div class="progress sm">
                                <div class="progress-bar progress-bar-green" [ngStyle]="{'width': item.donationsRequiredPercent }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<div class="row">
    <div class="col-sm-5 dataTables_info_container">
        <div class="dataTables_info" role="status" aria-live="polite">Showing {{ pager.startIndex + 1 }} to {{ pager.endIndex + 1 }} of {{ pager.totalItems }} entries</div>
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers text-right">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li class="paginate_button" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="refresh(1)">First</a>
                </li>
                <li class="paginate_button" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="refresh(pager.currentPage - 1)">Previous</a>
                </li>
                <li class="paginate_button" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="refresh(page)">{{page}}</a>
                </li>
                <li class="paginate_button next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="refresh(pager.currentPage + 1)">Next</a>
                </li>
                <li class="paginate_button" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="refresh(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>