<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" i18n="@@suggestionBox">Suggestion Box</h3>
            </div>
            <div class="card-body">
                <div class="row action-bar">
                    <div class="col-6">
                        <button type="button" class="btn btn-default"
                            [ngClass]="{ 'btn-success': refreshStatus === 'success', 'btn-danger': refreshStatus === 'error' }"
                            (click)="refresh(pager.currentPage)"><i class="fas fa-sync"></i>
                            <span i18n="@@refresh">Refresh</span></button>
                        <button type="button" class="btn btn-default" (click)="openModalCreateIdea(editIdea)"><i
                                class="fa fa-plus"></i> <span i18n="@@add">Add</span></button>
                    </div>
                    <div class="col-6">
                        <div class="dataTables_length text-right"><label for="pageSize" i18n="@@nbEntries">Nb
                                entries</label><select id="pageSize" name="pageSize"
                                class="datatable-nb-entries form-control input-sm" [(ngModel)]="pageSize"
                                (ngModelChange)="refresh()">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12" *ngFor="let idea of ideas">
                                <div class="info-box item-clickable" (click)="openModalEditIdea(editIdea, idea)">
                                    <span class="info-box-icon bg-info"><i class="{{ idea.icon }}"></i></span>

                                    <div class="info-box-content">
                                        <div class="info-box-text">
                                            <span class="short-description">{{ idea.shortDescription }}</span>
                                            <span *ngIf="idea.submitter.id > 0" class="badge badge-info float-right">{{
                                                idea.submitter.firstname }} {{ idea.submitter.lastname }}</span>
                                            <span *ngIf="idea.submitter.id <= 0"
                                                class="badge badge-warning float-right">Anonymous</span>
                                        </div>
                                        <span class="info-box-number">{{ idea.createdAt | date:'medium' }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div *ngIf="pager.pages && pager.pages.length" class="dataTables_info">
                            <span i18n="@@pageShowing">Showing </span>
                            <span>{{ pager.startIndex + 1 }}</span>
                            <span i18n="@@pageTo"> to </span>
                            <span>{{ pager.endIndex + 1 }}</span>
                            <span i18n="@@pageOf"> of </span>
                            <span>{{ pager.totalItems }}</span>
                            <span i18n="@@pageEntries"> entries</span>
                        </div>
                    </div>
                    <div class="col-7">
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-end">
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a class="page-link" (click)="refresh(1)">&#171;</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                                <a class="page-link" (click)="refresh(pager.currentPage - 1)">&#8249;</a>
                            </li>
                            <li class="page-item" *ngFor="let page of pager.pages"
                                [ngClass]="{active:pager.currentPage === page}">
                                <a class="page-link" (click)="refresh(page)">{{page}}</a>
                            </li>
                            <li class="page-item next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a class="page-link" (click)="refresh(pager.currentPage + 1)">&#8250;</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                <a class="page-link" (click)="refresh(pager.totalPages)">&#187;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #editIdea class="modal-lg">
    <div class="modal-header">
        <h4 class="modal-title" id="editModalLabel"><i class="{{ form.controls['icon.value }}"></i><span>{{
                form.controls['shortDescription'].value }}</span></h4>
        <button type="button" class="close" (click)="closeModalEditIdea()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group" [ngClass]="{ 'has-error': form.controls['icon'].errors }">
                <label for="icon" i18n="@@icon">Icon</label>
                <input id="icon" type="text" formControlName="icon" class="form-control" placeholder="Icon"
                    i18n-placeholder="@@icon">
                <div class="description-field"><span i18n="@@findIconCodes">Find icon codes at </span><a
                        href="https://origin.fontawesome.com/icons?d=gallery&m=free">Font Awesome</a></div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': form.controls['shortDescription'].errors }">
                <label for="shortDescription" i18n="@@shortDescription">Short Description</label>
                <input id="shortDescription" type="text" formControlName="shortDescription" class="form-control"
                    placeholder="Short Description" i18n-placeholder="@@shortDescription">
            </div>
            <div *ngIf="config.uploadImagePath !== ''" class="form-group">
                <label for="longDescription" i18n="@@longDescription">Long Description</label>
                <textarea formControlName="longDescription" [ngxSummernote]="config"
                    (mediaDelete)="onDeleteMedia($event)"></textarea>
            </div>
            <div class="form-group" *ngIf="selectedIdea.id <= 0 || currentUser.email === selectedIdea.createdBy">
                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                    <input type="checkbox" class="custom-control-input" id="hasAnonymousCreator"
                        formControlName="hasAnonymousCreator">
                    <label class="custom-control-label" for="hasAnonymousCreator"
                        i18n="@@publishIdeaAnonymously">Publish this idea anonymously</label>
                </div>
            </div>
            <div class="form-group"
                *ngIf="(selectedIdea.id <= 0 && !form.controls['hasAnonymousCreator'].value) || (selectedIdea.id > 0 && currentUser.email === selectedIdea.createdBy)">
                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                    <input type="checkbox" class="custom-control-input" id="hasLeaderCreator"
                        formControlName="hasLeaderCreator">
                    <label class="custom-control-label" for="hasLeaderCreator" i18n="@@userWhantToLeadRealOfIdea">I want to lead the realization of
                        the idea</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="submitting" class="btn btn-primary" (click)="onSubmit()" i18n="@@save">Save</button>
    </div>
</ng-template>